body{
  /* background-color: #e6ecf0; */
}

img {
  width: 100px;
  height: 100px;
}

.flex {
  display: flex;
}

ul li {
  list-style: none;
}

.two-columns {
  justify-content: space-around;
}

.mic {
  padding: 100px;
}

.column{
  flex-direction: column;
}

.search-bar{
  padding: 0px 216px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.talk{
  padding: 0 100px;
}

button{
  background-color: black;
  border: 0.1rem solid white;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  /* opacity: 0.8; */
}
button:hover{
  background-color: orange;
  /* opacity: 0.1; */
}

input {
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 70%;
}
input:hover{
  background-color: #e6ecf0;
}

.container {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10%;  
}

img {
  width: 75px ;
  height: 75px ;
}

.width {
  width: 350px;
  background-color: white;
  color: black;
}

.footer{
  justify-content: space-evenly;
}

.navbar-back{
  width: 20px;
  height: 20px;
}

.logout{
  width: 20px;
  height: 20px;
}

.around {
  justify-content: space-around;
}
